# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# Uploads (runtime files)
# =========================
uploads/
backend/uploads/

# =========================
# Backend (Spring Boot)
# =========================
backend/target/
backend/out/
backend/*.log

# =========================
# Frontend (Angular)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# Angular build
dist/
out-tsc/
tmp/
bazel-out/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml
.project
.classpath
.settings/
.c9/

# VSCode optional configs
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Cache
# =========================
.angular/cache
.sass-cache
.history
coverage