# =========================
# ENV
# =========================
.env
.env.*
!.env.example

# =========================
# Uploads
# =========================
uploads/
backend/uploads/

# =========================
# Backend (Spring Boot)
# =========================
backend/target/
backend/out/
backend/*.log

# local config
application-local.yml
backend/src/main/resources/application-local.yml

# =========================
# Frontend (Angular)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/coverage/

# =========================
# Logs
# =========================
*.log
npm-debug.log*
yarn-error.log*

# =========================
# IDE
# =========================
.idea/
.vscode/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db